  <div id="about">
    <div class="row custom">
      <div class="aboutus">
        <h1>Join you life adventures and make your time with JoinE</h1>
        <div class="border triangle-down-left"></div>
        <div class="border triangle-down-right"></div>
      </div>
      <div class="joine">
        <h3 class="about-text">
          Welcome to Joine - a web platform. We are glad to see you here. Come in and join in one of the fast-growing self-service manager in Ukraine.
            We are here to help you and to make you life more colorful. JoinE is the technology that allowa anyone to create, share, find and
              attend new things, events or any kind of activity. Fuel your passions and enrich your life.
                Music festivals, meetings, conferences, hackathons, football matches, sightseeing tour.
                  All you need - make sure that you want to have great time. From our side - we will bring the best choices for that. 
                   Lets all join!
        </h3>
      </div>
      <div class="about-features">
        <div class="about-section col-xs-12 col-sm-12 col-md-4 col-lg-4">
          <i class="fa fa-globe fa-3x"></i>
          <p>15 regions in Ukraine with Joine</p>
        </div>
        <div class="about-section col-xs-12 col-sm-12 col-md-4 col-lg-4">
          <i class="fa fa-calendar fa-3x"></i>
          <p>Over 400 hundred new users montly</p>
        </div>
        <div class="about-section col-xs-12 col-sm-12 col-md-4 col-lg-4">
          <i class="fa fa-users fa-3x"></i>
          <p>Over 10 thousand clients already used us</p>
        </div>
      </div>

      <div class="about-toggle">
          <figure class="about-toggle-item toggle-discover col-md-12 col-lg-6">
            <figcaption>
              <h2><span>Discover</span></h2>
              <p>Create an event right now!</p>
              <a href="#"></a>
            </figcaption>
          </figure>


          <figure class="about-toggle-item toggle-contact col-md-12 col-lg-6">
            <figcaption>
    					<h2><span>Contact</span></h2>
    					<p>Searching for opportunities or any suggestions? Give us a call!</p>
    					<a href="#"></a>
    				</figcaption>
          </figure>

      </div>

    </div>
  </div>
