<div id="event">
  <div class="p_wrapper">
    <h1 class="event-heading">{{event.name}}</h1>

      <div class="picture-wrap" id="picture-wrap">
        <div class="event-picture" id="event-picture"></div>


      </div>

      <div class="col-md-2 subscribe ">
          <div ng-click="subscribe()" class="save_btn subscribe-btn subscribe-btn-effect"><span>Subscribe</span></div>
      </div>

      <div class="author-area">
        <img src="{{pht}}" alt="Event creator" class="event_author">
        <span>Author:</span><p class="author-name">{{author}}</p>
      </div>

        <div class="row info-event">

            <textarea class="custom-description col-lg-4 col-md-4 col-sm-11 col-xs-11" placeholder="Enter event description here ..." rows="9" cols="10" maxlength="150" ng-model="event.description" name="description">{{event.description}}</textarea>

            <div class="p_user-info event-properties col-lg-4 col-md-4 col-sm-11 col-xs-11">

              <span>
                <input readonly type="text"  placeholder="Place" value="{{event.place}}">
              </span>

              <span>
                <input readonly type="text" placeholder="Time" value="{{event.time}}">
              </span>

              <span>
                <input readonly type="text" placeholder="Date" value="{{event.date}}">
              </span>

              <span>
                <input readonly type="text" placeholder="Type" value="{{event.type}}">
              </span>

              <span>
                <input readonly type="phone" placeholder="Phone" value="{{event.payment}}">
              </span>
            </div>

            <div class="weather col-lg-3 col-md-3 col-sm-3 col-xs-11">
              <h2>Check weather:</h2>
              <span id="weather"></span>
              <p id="weather_temp"></p>
              <p id="weather_status"></p>
            </div>

        </div>

        <div class="row">
          <h4 class="share-title">Share:</h4>
          <img src="./src/assets/facebook.png" alt="" id="repost-btn" onclick="shareFB('name','http://online-azbuka.ru/image/bukvap.jpg','kjkh','jkj')">
        </div>

        <div class="row">
          <h4 class="event-members">Members:</h4>
          <hr class="separator">

          <div class="candidat" ng-repeat="member in members">
            <img src="{{member.userPhoto}}" alt="" class="candidat-photo">
            <h4>{{member.username}}</h4>
          </div>
        </div>

        <div class="row">
          <h3 class="events_similar">Similar events:</h3>
          <hr class="separator">

            <div class="figures">
              <figure class="snip" ng-repeat="sim in similar">
                <div class="image"><img src="{{sim.photoURL}}" alt="ls-sample2" /></div>
                <figcaption>
                <div class="date"><span class="day">{{sim.date.substring(8,10)}}</span><span class="month">{{sim.date.substring(4,7)}}</span></div>
                <h3>{{sim.name}}</h3></a>

                <p>{{sim.description}}</p>
                </figcaption>
                <a href='/event/{{sim._id}}'></a>
              </figure>


            </div>
          </div>

        </div>

  </div>
</div>
