<div id="event" class="container">


    <div class="row ">

      <div class="event_photo col-xs-12 col-sm-12 col-md-6 col-lg-7">
        <img class="img-responsive" src="https://static.pexels.com/photos/4224/restaurant-person-people-hand.jpg" alt="your_event_photo" />

        <div class="img-responsive event_description">
          <div class="event_social pull-right social-icons icon-zoom">
            <a class="social" href="#"><i class="fa fa-2x fa-twitter" aria-hidden="true"></i></a>
            <a class="social" href="#"><i class="fa fa-2x fa-facebook" aria-hidden="true"></i></a>
            <a class="social" href="#"><i class="fa fa-2x fa-google-plus" aria-hidden="true"></i></a>
            <a class="social" href="#"><i class="fa fa-2x fa-pinterest" aria-hidden="true"></i></a>
          </div>
          <h2>Event description:</h2>
          <span>{{event.description}}</span>
        </div>
      </div>

      <div class="event_info col-xs-12 col-sm-12 col-md-6 col-lg-5">
        <h2 class="event_info_name">{{event.name}}</h2>
          <p class="event_chr">{{event.place}}</p>
          <p class="event_chr">{{event.time}}</p>
          <p class="event_chr">{{event.date}}</p>
          <p class="event_chr">{{event.payment}}</p>
          <br/><br/>
          <div class="event_weather">
            <h2>Check weather: <span>Temperature</span></h2>
          </div>

          <div class="event_author">
            <p>Autor: Nick Burn</p>
            <img src="http://icons.iconarchive.com/icons/hopstarter/sleek-xp-basic/256/Preppy-icon.png" alt="Event creator" class="img-responsive">
          </div>

      </div>
    </div>


    <div class="row">
      <div class="event_members">
        <h4>Event members:</h4>
        <div class="member_wrapper">
          <div class="event_member">
            <a href="#"><img class="img-responsive" src="http://lorempixel.com/400/200/" alt="Member"></a>
          </div>
          <div class="event_member">
            <a href="#"><img class="img-responsive" src="http://lorempixel.com/400/200/" alt="Member"></a>
          </div>
          <div class="event_member">
            <a href="#"><img class="img-responsive" src="http://lorempixel.com/400/200/" alt="Member"></a>
          </div>
          <div class="event_member">
            <a href="#"><img class="img-responsive" src="http://lorempixel.com/400/200/" alt="Member"></a>
          </div>
          <div class="event_member">
            <a href="#"><img class="img-responsive" src="http://lorempixel.com/400/200/" alt="Member"></a>
          </div>
        </div>

      </div>
    </div>


    <div class="row">

      <div class="events_similar">
        <h3>Similar events:</h3>
        <hr>
      </div>

    </div>



</div>
