<div class="find ">
	<div class="container">
	  <div class="row">
	    <h1 class="title">
	      This is our developer team<br />
	    </h1>
	    <div class="col-sm-10 col-sm-offset-1">

				<div class="col-md-3 col-sm-6">
			 	 <div class="card-container">
			 		 <div class="card">
			 			 <div class="front">
			 				 <div class="cover">
			 				 </div>
			 				 <div class="user">
			 					 <img class="img-circle" src="http://ct-freebies.herokuapp.com/images/rotating_card_profile3.png" />
			 				 </div>
			 				 <div class="content">
			 					 <div class="main">
			 						 <h3 class="name">
			 							 Sergiy Pavlov
			 						 </h3>
			 						 <p class="profession">
			 							 Lead &amp; Front-end developer
			 						 </p><br>
			 						 <p>Lviv, Ukraine</p>
			 						 <p><a href="#">@sergiypavlov</a></p>
			 							 <div class="bars">
			 								 <ul>
			 									 <li class="cor-1"></li>
			 									 <li class="cor-2"></li>
			 									 <li class="cor-3"></li>
			 									 <li class="cor-4"></li>
			 									 <li class="cor-5"></li>
			 								 </ul>
			 					 </div>
								 <div class="social-footer">
			 							 <ul class="social-links">
										 <li><a href=#><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
										 <li><a href=#><i class="fa fa-github" aria-hidden="true"></i></a></li>
										 <li><a href=#><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
									 </ul>
								 </div>
			 					 </div>
			 				 </div>
			 			 </div>
			 		 </div>
			 	 </div>
			 	 <!--end card-container-->
			  </div>
	      <!--end col-md-4 col-sm-6-->
				<div class="col-md-3 col-sm-6">
			 	 <div class="card-container">
			 		 <div class="card">
			 			 <div class="front">
			 				 <div class="cover">
			 				 </div>
			 				 <div class="user">
			 					 <img class="img-circle" src="http://ct-freebies.herokuapp.com/images/rotating_card_profile3.png" />
			 				 </div>
			 				 <div class="content">
			 					 <div class="main">
			 						 <h3 class="name">
			 							 Tanya Kandibal
			 						 </h3>
			 						 <p class="profession">
			 							 Designer &amp; Front-end developer
			 						 </p><br>
			 						 <p>Lviv, Ukraine</p>
			 						 <p><a href="#">@tanyakandibal</a></p>
			 							 <div class="bars">
			 								 <ul>
			 									 <li class="cor-1"></li>
			 									 <li class="cor-2"></li>
			 									 <li class="cor-3"></li>
			 									 <li class="cor-4"></li>
			 									 <li class="cor-5"></li>
			 								 </ul>
			 					 </div>
			 						 <div class="social-footer">
			 							 <ul class="social-links">
			 								 <li><a href=#><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
			 								 <li><a href=#><i class="fa fa-github" aria-hidden="true"></i></a></li>
			 								 <li><a href=#><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
			 							 </ul>
			 						 </div>
			 					 </div>
			 				 </div>
			 			 </div>
			 		 </div>
			 	 </div>
			 	 <!--end card-container-->
			  </div>
				<div class="col-md-3 col-sm-6">
			 	 <div class="card-container">
			 		 <div class="card">
			 			 <div class="front">
			 				 <div class="cover">
			 				 </div>
			 				 <div class="user">
			 					 <img class="img-circle" src="http://ct-freebies.herokuapp.com/images/rotating_card_profile3.png" />
			 				 </div>
			 				 <div class="content">
			 					 <div class="main">
			 						 <h3 class="name">
			 							 Slavik Melnik
			 						 </h3>
			 						 <p class="profession">
			 							 Designer &amp; Front-end developer
			 						 </p><br>
			 						 <p>Lviv, Ukraine</p>
			 						 <p><a href="#">@slavikmelnik</a></p>
			 							 <div class="bars">
			 								 <ul>
			 									 <li class="cor-1"></li>
			 									 <li class="cor-2"></li>
			 									 <li class="cor-3"></li>
			 									 <li class="cor-4"></li>
			 									 <li class="cor-5"></li>
			 								 </ul>
			 					 			</div>
											<div class="social-footer">
	 			 							 <ul class="social-links">
	 			 								 <li><a href=#><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
	 			 								 <li><a href=#><i class="fa fa-github" aria-hidden="true"></i></a></li>
	 			 								 <li><a href=#><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
	 			 							 </ul>
	 			 						 </div>
			 					 </div>
			 				 </div>
			 			 </div>
			 		 </div>
			 	 </div>
			 	 <!--end card-container-->
			  </div>
				<div class="col-md-3 col-sm-6">
			 	 <div class="card-container">
			 		 <div class="card">
			 			 <div class="front">
			 				 <div class="cover">
			 				 </div>
			 				 <div class="user">
			 					 <img class="img-circle" src="http://ct-freebies.herokuapp.com/images/rotating_card_profile3.png" />
			 				 </div>
			 				 <div class="content">
			 					 <div class="main">
			 						 <h3 class="name">
			 							 Rostyk Skyba
			 						 </h3>
			 						 <p class="profession">
			 							 Designer &amp; Front-end developer
			 						 </p><br>
			 						 <p>Lviv, Ukraine</p>
			 						 <p><a href="#">@roskyba</a></p>
			 							 <div class="bars">
			 								 <ul>
			 									 <li class="cor-1"></li>
			 									 <li class="cor-2"></li>
			 									 <li class="cor-3"></li>
			 									 <li class="cor-4"></li>
			 									 <li class="cor-5"></li>
			 								 </ul>
			 					 		 </div>
									 	 <div class="social-footer">
				 							 <ul class="social-links">
											 <li><a href=#><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
											 <li><a href=#><i class="fa fa-github" aria-hidden="true"></i></a></li>
											 <li><a href=#><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
										 </ul>
									 </div>
			 					 </div>
			 				 </div>
			 			 </div>
			 		 </div>
			 	 </div>
			 	 <!--end card-container-->
			  </div>
	    </div>
	  </div>
<div class="container contact-form">
	<div class="row">
		<h3 style="text-align:center">We'd love to hear from you!</h3>
	</div>
	<div class="row input-container">
		<div class="col-xs-12">
			<div class="styled-input wide">
				<input type="text" required />
				<label>Name</label>
			</div>
		</div>
		<div class="col-md-6 col-sm-12">
			<div class="styled-input">
				<input type="text" required />
				<label>Email</label>
			</div>
		</div>
		<div class="col-md-6 col-sm-12">
			<div class="styled-input" style="float:right;">
				<input type="text" required />
				<label>Phone Number</label>
			</div>
		</div>
		<div class="col-xs-12">
			<div class="styled-input wide">
				<textarea required></textarea>
				<label>Message</label>
			</div>
		</div>
			<div class="col-xs-12 send">
				<div class="btn btn-hover">Send Message</div>
			</div>
		</div>
	</div>
<div class="col-lg-12 col-md-12 links">
	<div class="github  col-lg-12 col-md-12 col-sm-12">
		<i style="color:black;" class="fa fa-github fa-1x" aria-hidden="true"></i><a href="#">github.com/travelappdev/FL-Project-EventApp</a>
	</div>
	<div class="copyright">
		<h5>Epam FrontendLab5, Lviv, Ukraine, 2016, JoinE team &copy;</h5>
	</div>
</div>

		</div>
	  </div>
	</div>
</div>
