<div id="general">
  <section class="g_photo-wrapper">
    <div class="g_main-photo"></div>
    <div class="g_main-content">

      <h1>Some main text</h1>
      <p>Some less important text and bla bla bla about something bla bla about something</p>

      <div class="g_get-started" ng-click="open('../src/templates/registration.html', 'md', 'generalCtrl')">
        <a class="btn btn-hover">Get Started</a>
      </div>

    </div>
  </section>

  <!-- <div class="main-wrapper container-fluid">
    <div class="g_main-item">

    </div>
  </div> -->


      <!-- OUR CONTAINER FOR TOP EVENTS -->
      <!-- should be fixed and updated -->

      <section class="g_event-wrapper">
            <h2>Top Events</h2>

            <div class="g_top-events">

              <div class="g_event" ng-repeat="event in events">
                <a href="/event">
                  <img class="g_event-image" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/ls-sample1.jpg" alt="event picture">
                </a>

                <div class="g_event-content">
                  <h3>{{event.name}}</h3>
                  <p>{{event.description}}</p>
                </div>
              </div>

          </div>
        </section>

<section class="g_resp-wrapper">
      <div class="container-fluid visible-lg responsive-devices">
        <div class="row">
          <h2>Keep in touch in all devices</h2>
          <img class="img-responsive g_resp-img" src="http://localhost:8000/src/assets/devices2.jpg" alt="">
        </div>
      </div>


</section>
</div>
