<div id="general">

<!--   <video class="bgvid" autoplay="autoplay" muted="muted" preload="auto" loop style="width: 100%"> -->

<!--       <source src="src/assets/Blue.mp4" type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"'> -->
  <!-- </video> -->

  <section class="g_photo-wrapper">
    <div class="g_main-photo "></div>
    <div class="g_main-content">

      <h1 class="main-header">Dive in with us and JoinE</h1>
      <p class="sub-header">FINDING YOUR BEST TIME</p>

      <div class="g_get-started" ng-click="open('../src/templates/registration.html', 'md', 'generalCtrl')">
        <a class="btn btn-hover">Get Started</a>
      </div>

    </div>
  </section>

  <!-- <div class="main-wrapper container-fluid">
    <div class="g_main-item">

    </div>
  </div> -->


      <!-- OUR CONTAINER FOR TOP EVENTS -->
      <!-- should be fixed and updated -->

      <section class="g_event-wrapper">
            <div class="event-header-wrap">
              <h1 class="events-header">Top Events</h1>
              <p class="sub-header">Check most popular events</p>
            </div>
            <div class="g_top-events">

            <div class="events-wrap">

              <div class="g_event" ng-repeat="event in events">
                <a ng-href='/event/{{event._id}}'>
                  <img class="g_event-image" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/ls-sample1.jpg" alt="event picture">
                </a>

                <div class="g_event-content">
                  <h3>{{event.name}}</h3>
                  <p>{{event.description}}</p>
                </div>


              </div>
            </div>

          </div>
        </section>

<section class="g_resp-wrapper">
      <div class="container-fluid visible-lg responsive-devices">
        <div class="row">
          <h2 class="devices-header">Keep in touch in all devices</h2>
          <img class="img-responsive g_resp-img" src="http://localhost:8000/src/assets/responsive-devices.svg" alt="">
<!--           <img class="img-responsive g_resp-img" src="http://localhost:8000/src/assets/tablet.svg" alt="">
          <img class="img-responsive g_resp-img" src="http://localhost:8000/src/assets/smartphone.svg" alt=""> -->
        </div>
      </div>


</section>
</div>
