<div id="home" ng-controller="generalCtrl">
  <div class="g_photo-wrapper">
    <div class="g_main-photo"></div>
    <div class="g_main-content">

      <h1 class="main-header">Dive in with us and joinE</h1>
      <p class="sub-header">Finding your best time</p>

      <div class="g_get-started" ng-click="open('../src/templates/adding_event.html', 'lg', 'EventController')">
        <a class="btn btn-hover">Add new event</a>
      </div>

    </div>
  </div>


<div class="row cf">
      <div  class="search-container">
        <input type="text" id="search" placeholder="Search for event" ng-model="eventFilterBy.name" required="" class="search-by-name"/>

        <select name="" id="" ng-model="eventFilterBy.type" class="type-filter">
          <option selected="selected">Arts</option>
          <option>Classes</option>
          <option>Concert</option>
          <option>Conference</option>
          <option>Festival</option>
          <option>Food</option>
          <option>Music</option>
          <option>Party</option>
          <option>Sports</option>
          <option>Trip</option>
        </select>
      </div>
    </div>

  <div class="results-wrap">

    <h2 class="big-header">All Events</h2>

      <div class="">

            
     <div class="container h_block">
       
       <div class="selection-item">
          View <select ng-model="pageSize" ng-change="setItemsPerPage(pageSize)" class="amount-select"><option selected>6</option><option>9</option><option>18</option><option>30</option></select> records at a time.
       </div>
       
        <div  class="results-block">
          <div ng-repeat="event in evs | filter:eventFilterBy | start: (currentPage - 1) * pageSize | limitTo: pageSize">

            <figure class="snip result-it">
              <div class="image">
                <img src="{{event.photoURL}}" alt="event picture">
              <figcaption>
              <div class="date"><span class="day">{{event.date.substring(8,10)}}</span><span class="month">{{event.date.substring(4,7)}}</span></div>
              <h3 ng-bind="event.name" class="truncate">{{event.name}}</h3>
              <p class="truncate">
                {{event.description}}
              </p>
              </figcaption>
              <a ng-href='/event/{{event._id}}'></a>
            </figure>

        </div>
        

        </div>
        
          <div class="page-control">
            
            <uib-pagination total-items="evs.length" items-per-page="pageSize" ng-model="currentPage" max-size="5" 
                        class="uib-pagination-sm"></uib-pagination>
          </div>
        </div>
    </div>
        
        
        
        </div>
    </div>
           
      </div>


  </div>
