<div id="profile">
  <div class="p_wrapper container-fluid ">
			<div class="info row">

				<div class="picture img-responsive col-md-3 col-xs-9 col-sm-3 user-picture">

						<img class="add-image picture-area">
						<h2 class="upload_title">Choose photo</h2>
						<button class="file-upload">
	  						<input type="file" class="file-input" accept="image/*" onchange="readURLProfile(this)"  name="image"file-model="">Upload photo
	  					</button>
				</div>


				<div class="p_user-info col-md-7 col-sm-12 col-xs-12  ">
					<p id="p_name">{{getCookie("username")}}</p>

          <span>
            <input readonly type="text" id="gender" placeholder="Gender:" ng-model="gender">
            <img src="http://findicons.com/files/icons/2226/matte_basic/16/edit.png" ng-click="deleteReadonlyState('gender')" alt="" >
          </span>

					<span>
            <input readonly type="text" id="age" placeholder="Age:" ng-model="age">
            <img src="http://findicons.com/files/icons/2226/matte_basic/16/edit.png" ng-click="deleteReadonlyState('age')" alt="">
          </span>

          <span>
            <input readonly type="text" id="town" placeholder="Hometown:" ng-model="homeTown">
            <img src="http://findicons.com/files/icons/2226/matte_basic/16/edit.png" ng-click="deleteReadonlyState('town')" alt="">
          </span>

          <span>
            <input readonly type="mail" id="email" placeholder="Email:" >
            <img src="http://findicons.com/files/icons/2226/matte_basic/16/edit.png" ng-click="deleteReadonlyState('email')" alt="">
          </span>

          <span>
            <input readonly type="phone" id="phone" placeholder="Phone:" ng-model="phone">
            <img src="http://findicons.com/files/icons/2226/matte_basic/16/edit.png" ng-click="deleteReadonlyState('phone')" alt="">
          </span>
				</div>

			</div>



			<div class="p_events-info">
				<div class="created col-md-12 col-xs-12">
					<h2 class="p-title">Created events:</h2>
					<hr>



            <div class="figures">
              <span class="glyphicon glyphicon-menu-left arrow arrow-left"></span>

            <!-- <div ng-repeat="cr in created">
              <h1>{{cr.name}}</h1>
              <p>{{cr.description}}</p>
            </div> -->


            <div class="g_event" ng-repeat="cr in created">

                  <figure class="snip">
                      <div class="image">
                        <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/ls-sample1.jpg" alt="event picture">
                      <figcaption>
                        <div class="date"><span class="day">28</span><span class="month">Oct</span><i class="ion-checkmark"> </i></div>
                        <a ng-href='/event/{{cr._id}}'><h3>{{cr.name}}</h3></a>
                        <p>{{cr.description}}</p>
                      </figcaption>
                  </figure>
             </div>


              <span class="glyphicon glyphicon-menu-right arrow arrow-right"></span>

            </div>

					</div>
				</div>

				<div class="subscribed col-md-12 col-xs-12">
					<h2 class="p-title">Subscribed events:</h2>
          <div class="figures">
            <span class="glyphicon glyphicon-menu-left arrow arrow-left"></span>
					  <hr>


             <!-- <div ng-repeat="sub in subscr">
               <h1>{{sub.name}}</h1>
               <p>{{sub.description}}</p>
             </div> -->


             <div class="g_event" ng-repeat="sub in subscr">

                   <figure class="snip">
                       <div class="image">
                         <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/ls-sample1.jpg" alt="event picture">
                       <figcaption>
                         <div class="date"><span class="day">28</span><span class="month">Oct</span><i class="ion-checkmark"> </i></div>
                         <a ng-href='/event/{{sub._id}}'><h3>{{sub.name}}</h3></a>
                         <p>{{sub.description}}</p>
                       </figcaption>
                   </figure>
              </div>


						<span class="glyphicon glyphicon-menu-right arrow arrow-right" ></span>
				</div>
			</div>
		</div>
</div>
