<!-- <div id="profile">
  <div class="p_wrapper container-fluid ">
			<div class="info row">

				<div class="picture img-responsive col-md-3 col-xs-9 col-sm-3 user-picture">

						<img class="add-image picture-area" src="{{userPhoto}}">
						<h2 class="upload_title">Choose photo</h2>
            <div class="dropdown url-div">
              <button class=" dropdown-toggle file-upload" type="button" data-toggle="dropdown">Dropdown Example
              <span class="caret"></span></button>
              <div class="dropdown-menu url-div">
                <label for="url">Enter photo url</label>
                <input type="text" class="url-field" id="userPhoto" ng-model="userPhoto" />
                <button ng-click="putUserPhoto()" class="save_btn photo-link-btn">Upload</button>
              </div>
           </div>

				</div>


				<div class="p_user-info col-md-7 col-sm-12 col-xs-12  ">
					<p id="p_name">{{getCookie("username")}}</p>

          <span>
            <input readonly type="text" id="gender" placeholder="Gender:" ng-model="gender">
            <img src="http://findicons.com/files/icons/2226/matte_basic/16/edit.png" ng-click="deleteReadonlyState('gender')" alt="" >
          </span>

					<span>
            <input readonly type="text" id="age" placeholder="Age:" ng-model="age">
            <img src="http://findicons.com/files/icons/2226/matte_basic/16/edit.png" ng-click="deleteReadonlyState('age')" alt="">
          </span>

          <span>
            <input readonly type="text" id="town" placeholder="Hometown:" ng-model="homeTown">
            <img src="http://findicons.com/files/icons/2226/matte_basic/16/edit.png" ng-click="deleteReadonlyState('town')" alt="">
          </span>

          <span>
            <input readonly type="mail" id="email" placeholder="Email:" >
            <img src="http://findicons.com/files/icons/2226/matte_basic/16/edit.png" ng-click="deleteReadonlyState('email')" alt="">
          </span>

          <span>
            <input readonly type="phone" id="phone" placeholder="Phone:" ng-model="phone">
            <img src="http://findicons.com/files/icons/2226/matte_basic/16/edit.png" ng-click="deleteReadonlyState('phone')" alt="">
          </span>
				</div>

			</div>



			<div class="p_events-info">
				<div class="created col-md-12 col-xs-12">
					<h2 class="p-title">Created events:</h2>
					<hr>

              <div carousel interval="3000">
                <div slide ng-repeat="gallery_cell in created" active="gallery_cell.active">

                    <figure class="snip middle" ng-repeat="event in gallery_cell.events">

                        <div class="image"><img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/ls-sample1.jpg" alt="event picture"></div>

                        <figcaption>

                            <div class="date"><span class="day">28</span><span class="month">Oct</span><i class="ion-checkmark"> </i></div>

                            <h3>{{event.name}}</h3>

                            <p>
                            {{event.description}}
                            </p>

                        </figcaption>
                        <a ng-href='/event/{{event._id}}'></a>

                    </figure>

                </div>
            </div>

					</div>
        </div>




				<div class="subscribed col-md-12 col-xs-12">
					<h2 class="p-title">Subscribed events:</h2>
					  <hr>



            <div carousel interval="3000">
              <div slide ng-repeat="gallery_cell in subscr" active="gallery_cell.active">

                  <figure class="snip middle" ng-repeat="event in gallery_cell.events">

                      <div class="image"><img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/ls-sample1.jpg" alt="event picture"></div>

                      <figcaption>
                        <div class="date"><span class="day">28</span><span class="month">Oct</span><i class="ion-checkmark"> </i></div>
                        <a ng-href='/event_manage/{{cr._id}}'><h3>{{event.name}}</h3></a>
                        <p>{{event.description}}</p>
                      </figcaption>
                      <a ng-href='/event/{{event._id}}'></a>
                  </figure>

              </div>
          </div>

			</div>
      </div>
		</div>
</div> -->

<div id="profile">
  <div class="p_wrapper container-fluid ">
            <div class="info row">
                <div class="picture img-responsive col-md-3 col-xs-9 col-sm-3 user-picture">
                        <img class="add-image picture-area" src="{{userPhoto}}">
                        <h2 class="upload_title">Choose photo</h2>
            <div class="dropdown url-div">
              <button class=" dropdown-toggle file-upload" type="button" data-toggle="dropdown">Upload photo
              <span class="caret"></span></button>
              <div class="dropdown-menu url-div">
                <label for="url">Enter photo url:</label>
                <input type="text" class="url-field" id="userPhoto" ng-model="userPhoto" />
                <button ng-click="putUserPhoto()" class="save_btn photo-link-btn">Upload</button>
              </div>
           </div>
                </div>
                <div class="p_user-info col-md-7 col-sm-12 col-xs-12  ">
                    <p id="p_name">{{getCookie("username")}}</p>
          <span>
            <input readonly type="text" id="gender" placeholder="Gender:" ng-model="gender">
            <img src="http://findicons.com/files/icons/2226/matte_basic/16/edit.png" ng-click="deleteReadonlyState('gender')" alt="" >
          </span>
                    <span>
            <input readonly type="text" id="age" placeholder="Age:" ng-model="age">
            <img src="http://findicons.com/files/icons/2226/matte_basic/16/edit.png" ng-click="deleteReadonlyState('age')" alt="">
          </span>
          <span>
            <input readonly type="text" id="town" placeholder="Hometown:" ng-model="homeTown">
            <img src="http://findicons.com/files/icons/2226/matte_basic/16/edit.png" ng-click="deleteReadonlyState('town')" alt="">
          </span>
          <span>
            <input readonly type="mail" id="email" placeholder="Email:" >
            <img src="http://findicons.com/files/icons/2226/matte_basic/16/edit.png" ng-click="deleteReadonlyState('email')" alt="">
          </span>
          <span>
            <input readonly type="phone" id="phone" placeholder="Phone:" ng-model="phone">
            <img src="http://findicons.com/files/icons/2226/matte_basic/16/edit.png" ng-click="deleteReadonlyState('phone')" alt="">
          </span>
                </div>
            </div>
            <div class="p_events-info">
                <div class="created col-md-12 col-xs-12">
                    <h2 class="p-title">Created events:</h2>
                    <hr>
          <div carousel interval="3000">
                <div slide ng-repeat="gallery_cell in created" active="gallery_cell.active">
                    <figure class="snip middle" ng-repeat="event in gallery_cell.events">
                        <div class="image"><img src="{{event.photoURL}}" alt="event picture"></div>
                        <figcaption>
                            <div class="date"><span class="day">28</span><span class="month">Oct</span><i class="ion-checkmark"> </i></div>
                            <h3>{{event.name}}</h3>
                            <p>
                            {{event.description}}
                            </p>
                        </figcaption>
                        <a ng-href='/event/{{event._id}}'></a>
                    </figure>
                </div>
            </div>

            

                    </div>
                </div>
                <div class="subscribed col-md-12 col-xs-12">
                    <h2 class="p-title">Subscribed events:</h2>

      <div carousel interval="3000">
              <div slide ng-repeat="gallery_cell in subscr" active="gallery_cell.active">
                  <figure class="snip middle" ng-repeat="event in gallery_cell.events">
                      <div class="image"><img src="{{event.photoURL}}" alt="event picture"></div>
                      <figcaption>
                        <div class="date"><span class="day">28</span><span class="month">Oct</span><i class="ion-checkmark"> </i></div>
                        <a ng-href='/event_manage/{{cr._id}}'><h3>{{event.name}}</h3></a>
                        <p>{{event.description}}</p>
                      </figcaption>
                      <a ng-href='/event/{{event._id}}'></a>
                  </figure>
              </div>
          </div>
        </div>
</div>
