<div class="modal-header text-center">
            <h3 class="modal-title reg-title" id="modal-title">Registration</h3>
</div>
<div id="modal-body" class="regist">
	<div class="container-fluid">
		<form action="" class=" form-vertical" role="form" ng-submit="submitForm()">
  			<div class="row inner-wrap">
				<input type="text" placeholder="Username" class="field" required ng-model="user_regist.name">
  				<input type="email" placeholder="Email address" class="field" required ng-model="user_regist.email">
  				<input type="password" placeholder="Password" class="field" required ng-model="user_regist.password">
  				<input type="password" placeholder="Confirm password" class="field" required ng-model="user_regist.repassword">
				
				<button type="submit" class="save_btn submit-btn">Submit</button>

				<div class="separator">
					<span class="interrupt-text">OR</span>
				</div>

				<div class="auto-registr text-center">
					<div class="google-registr"></div>
					<div class="facebook-registr"></div>
				</div>
  			</div>
		</form>
	</div>
</div>
			 