.footer {
	position: fixed;
	bottom: 0;
	background: #253938;
	height: auto;
	width: 100%;
	display: flex;
	flex-direction: column;
 	justify-content: center;
}

.footer .container {
	width: auto;
	max-width: 650px;
	padding: 0 15px;
}


.ftr-wrap {
	text-align: center;
}


.ftr-links ul li {
  display: inline-block;
}


.ftr-links .links {
	border-collapse: collapse;
  color: #fff;
  text-transform: uppercase;
  margin: 0;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.15em;
	width: 200px;
  display: inline-block;
  padding: 15px 20px;
  position: relative;
}

.ftr-links .links:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: #fff;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
.ftr-links .links:hover:after {
  width: 100%;
  left: 0;
}

.ftr-links .links:hover {
	 text-decoration: none;
}
