a {
  cursor: pointer;
}

// dimensions should be fixed

.g_photo-wrapper {
  position: relative;
  width: 100%;
  height: 100vh;
}

.g_main-photo {
  z-index: 0;
  position: absolute;
  height: 100vh;
  width: 100%;

  background-image: url('http://localhost:8000/src/assets/road.jpeg');
  background-size: 100% 100vh;
  background-blend-mode: darken;
}

.g_get-started .btn {
  background-color: transparent;
}

.g_main-content {
  text-align: center;
  color: #fff;
  width: 50%;
  height: auto;
  left: 25%;
  bottom: 8rem;
  position: absolute;
  z-index: 1;

  p {
    margin-bottom: 12rem;
  }
}

// .g_main-item {
//   z-index: 1;
//   text-transform: uppercase;
//   position: absolute;
//   left: 0;
//   right: 0;
//   text-align: center;
//   color: red;
//   margin-top: 25vh;
//
//   h1,p {
//     color: #fff;
//   }
// }

.g_event-wrapper {
  width: 100%;
  height: 100vh;
}

.g_top-events {
   width: 100%;
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   justify-content: center;
   padding-top: 2rem;
}

.g_event {
  background-color: #fff;
  width: 25%;
  margin-left: 2rem;
  padding: 5px;
  height: 28rem;
  border: 1px solid #999;
  margin-bottom: 2rem;
}

.g_event:nth-child(1+2n) {
  margin-left: 0;
}

.g_event-image {
  width: 100%;
  height: 16rem;
}

.g_event-content {
  padding: 5px;

  h3 {
    margin-top: 0;
  }
}

.g_resp-wrapper {
  width: 100%;
  height: auto;
}

.g_resp-img {
  width: 60%;
  height: 76vh;
}

.dropdown-menu{
  padding: 10px;
}

#fb_l{
  margin-left: -20px;
  margin-top: 6px;
  width: 133%;
  height: 40px;
}

#fb_l:hover, #s_log:hover{
  box-shadow: 1px 1px 5px #22F;
}

#s_log{
  font-weight: bold;
  margin-top: -6px;
  height: 35px;
}
