// Variables




$search_block: #999;

.home_explore {
  padding-bottom:  50px;
}



.search_container {
  display: flex;
  padding: 50px;
  .form-control {
    color: black;
    max-width: 700px;
  }
}

.fa-search {
  padding: 0 20px;
  padding-top: 5px;
}



/* Form wrapper styling */
.search-wrapper {
width: 600px;
margin: 45px auto 50px auto;
}

/* Form text input */

.search-wrapper input {
min-width: 500px;
height: 40px;
padding: 10px;
}

.search-wrapper input:focus {
background: #fff;
box-shadow: 0 0 2px rgba(0,0,0,.8) inset;
}

.search-wrapper input::-webkit-input-placeholder {
color: #999;
}

.search-wrapper input:-moz-placeholder {
color: #999;
font-weight: normal;
font-style: italic;
}

.search-wrapper input:-ms-input-placeholder {
color: #999;
}

/* Form submit button */
.search-wrapper button {
border: 0;
margin-left: -5px !important;
padding: 0;
cursor: pointer;
height: 40px;
width: 83px;
color: white;
text-transform: uppercase;
background: #D83C3C;
}

.search-wrapper button:hover{
background: #e54040;
}

.search-wrapper button:active,
.search-wrapper button:focus{
background: #c42f2f;
outline: 0;
}
