body{
  background-color: #83D6DE;

	width: 100%;
	height: 100%;
}


@media screen and (max-width: 1000px) {
  .glyphicon {
    display:inline-block!important;
  }

  .arrow-right{
    margin-left: -5px;
  }

  .arrow-left{
    margin-right: -5px;
  }
}


@media screen and (min-width: 1001px){
  .glyphicon {
    display:inline-block!important;
  }

  .arrow-right{
    margin-left: 50px;
  }

  .arrow-left{
    margin-right: 50px;
  }
}

#profile {
	margin-top: 150px;
}

.p_wrapper{
	margin: 1%;
  display:block;
	background: white;
	width: 98%;
	height: auto;
	border-radius: 10px;
  padding-bottom: 25px;
}

#p_main-photo{
  overflow-y: hidden;
  margin: 0;
  padding: 0;
	position: absolute;
  height: 320px;
	width: 310px;
	top:3%;
	left:3%;
	border-radius: 10px;
}

.p_user-info{
  display: inline-block;
}
.user-picture{
  margin-left: 25px;
  margin-top: 10px;
}

#p_name{
  overflow-y: hidden;
	font-size:40px;
  font-family: Oswald;
}

.p-title{
  font-family: 'SegoeUIBold'
}

.p_user-info input{
	display: inline;
	font-size: 16px;
	border:none;
	border-bottom: 1px solid #373746;;
  font-family: 'SegoeUIRegular';
	margin-bottom: 15px;
	width: 94%;
}

/*.p_user-info span::after{
    content: url('../img/pencil.png');
}*/

.p_user-info img, .p_interests img, .p_description img {
	cursor: pointer;
}


#p_fewords, #p_interests{
  margin: auto;
	display: inline;
	margin-right: 38%;
}

.p_description, .p_interests{
  margin-top: 15px;
/*	position: absolute;*/
	right: -1%;
/*	margin-top: 3%;*/
}


.text-block{
  resize: none;
  background-color: #83D6DE;
/*  margin-right: 55px;*/
}

.text-block::after{
  content: url(../img/pencil.png);
}

.ePng{
  float: right;
}

.date, .day{
  overflow-y: hidden;
}


/*textarea{
	border-radius: 5%;
	border: 2px dashed black;
}*/

.snip {
  font-family: 'Open Sans', Arial, sans-serif;
  position: relative;
  float: left;
  overflow: hidden;
  margin: 10px 1%;
  min-width: 150px;
  max-width: 310px;
  width: 100%;
  background-color: #ffffff;
  color: #000000;
  text-align: left;
  font-size: 16px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
}

.snip * {
  box-sizing: border-box;
}

.snip:after {
  position: absolute;
  top: 12px;
  left: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 25px 0 25px 25px;
  border-color: transparent transparent transparent #FC575E;
  content: '';
  transform: translateX(-100%);
  transition: all 0.3s ease;
}

.snip img {
  margin: 0;
  max-width: 100%;
  vertical-align: top;
  position: relative;
}

.snip figcaption {
  padding: 20px 20px 20px;
  background-color: #ffffff;
}

.snip .date {
  background-color: #FC575E;
  top: 15px;
  color: #fff;
  right: 15px;
  min-height: 48px;
  min-width: 48px;
  position: absolute;
  text-align: center;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  border-radius: 50%;
  padding: 10px 0;
}
figure .date:hover ,
figure.snip.hover .date {
  -webkit-transform: rotateY(90deg);
  transform: rotateY(90deg);
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}
figure.snip:hover i,
figure.snip.hover i {
  -webkit-transform: rotateY(0);
  transform: rotateY(0);
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s;
}
figure.snip:hover button,
figure.snip.hover button {
  background-color: #117964;
}

.snip .date span {
  display: block;
  line-height: 14px;
}

.snip .date .month {
  font-size: 11px;
}

.snip h3,
.snip p {
  margin: 0;
  padding: 0;
}

.snip h3 {
  margin-bottom: 10px;
  display: inline-block;
  font-weight: 700;
}

.snip p {
  font-size: 0.8em;
  margin-bottom: 10px;
  line-height: 1.6em;
}

.snip a {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: absolute;
  z-index: 1;
}

.snip:hover:after,
.snip.hover:after {
  transform: translateX(0%);
}

.created{
  position: relative;
	margin-top: 6%;
}

.figures{
  overflow-y: hidden;
	display: flex;
  justify-content: center
}

/*.arrow-left{
  margin-right: 50px;
}*/

/*.arrow-right{
  margin-left: 50px;
}*/

.info{
  padding: 25px;
}

.arrow{
  vertical-align: middle;
	display: inline-block;
	font-size: 60px;
  align-self: center;
}
.arrow:hover{
	transition: all 0.1s ease-in-out;
	cursor:pointer;
}

.arrow-menu-right:hover{
	transform: translate(20px,0);
}

.arrow-menu-left:hover{
	transform: translate(-20px,0);
}


@media (max-width: 1300px) {
  .last {
    display: none;
  }
}

@media (max-width: 320px) {
  .user-picture{
    margin: 0 auto;
  }
}

/*@media (max-width: 1040px) {
  .p_description, .p_interests {
    display: none;
  }
}*/
/*  .p_user-info{
    width: 100%;
    width: 50%;
    top:2%;
    margin-left: 12%;
  }*/

   #p_main-photo{
   width: 40%;
 }

/*  .snip1493:first-child{
    margin-right: 10%;
  }*/
/*}*/

@media screen and (max-width: 1000px) {
  .glyphicon{
    display: none;
  }

     #main-photo{
   width: 44%;
 }
}

@media screen and (max-width: 870px) {
/*  .snip1493 {
    margin-left: -5%;
  }*/
}

@media screen and (max-width: 470px) {
  .arrow{
    font-size: 36px;
  }

  .arrow-right{
    margin-left: -5px;
  }

  .arrow-left{
    margin-right: 5px;
  }
}

@media screen and (max-width: 768px) {
  .middle, .last{
    display: none;
  }

  .arrow{
    font-size: 36px;
  }

}

@media screen and (max-width: 666px) {
  #p_main-photo{
    width: 80%;
    left: 10%;
  }
}

@media screen and (max-width: 666px) {
  #p_main-photo{
    width: 80%;
    left: 10%;
  }
}
/*  .p_user-info{
    margin: 75% 0 0 -30%;
    width: 95%;
  }*/
/*}*/

