.header {
  width: 100%;
  position: absolute;
  top: 0;
  height: 150px;
  padding: 0;
  margin: 0;
  background: transparent;
  border: none;
  z-index: 5;
  overflow-y:hidden;
  display: flex;
  justify-content: space-between;
}


.btn {
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  font-weight: 400;
  line-height: 45px;
  position: relative;
  text-transform: uppercase;
}


.btn-hover {
  margin: 10px;
  padding: 0 25px;
  border: 1px solid #f7f7f7;
  border-radius: none;
  text-align: center;
  text-transform: uppercase;
  position: relative;
  overflow:hidden;
  border-radius: 0;
  transition: .3s;
}
 .btn-hover:after {
    position: absolute;
    transition: .3s;
    content: '';
    width: 0;
    left: 50%;
    bottom: 0;
    height: 3px;
    background: #f7f7f7;
    left: 0;
}

 .btn-hover:hover {
   color: white;
    cursor: pointer;
}
 .btn-hover:hover:after {
      width: 100%;
      left: 0;
}

.header-item {
  float:right;
  padding-top: 25px;
}


.slider {
  background: #24A69A;
}

.responsive-devices  {
  padding: 20px;
  width: 100%;
  background: #fff;
}


.responsive-devices img {
  margin: auto;
}

.responsive-devices h2 {
  text-align: center;
}
